ul {
    list-style-type: none;
    padding:0;
    overflow: hidden;
    background-color: rgb(73, 72, 72);
}

li {
    float: right;
}

li a {
    display: block;
    color:  rgb(222, 219, 219);;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    margin-top: 0;
    font-weight: 900
}
li a:hover {
    background-color: rgba(81, 81, 81);
}
*{
    margin: 0;
    padding: 0;

}
