.sidebar {
    font-family: "Lato", sans-serif;
    font-size: 28px;
  }

  .sidebar {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 300px;
  }
 /* 原来的颜色 */
  .sidebar a { 
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  /* 鼠标放上去时变色 */
  .sidebar a:hover {
    color: #f1f1f1;
  } 

     /*为头部区域、lunbo区域、主体区域设置共同的样式*/
  .w {
      /* 宽为页面的70%  */
     width: 70%;
  /*    !* 让div在页面居中 *!*/
     margin: 0 auto;
  /*    !* 上边距设置为10像素 *!*/
  /* /*    margin-top: 10px; */
}

  /* 为头部区域添加单独样式 */
  .header {
      background-color: red;
      height: auto;
  }

  /* 为lunbo区域设置单独的样式 */
  .lunbo {
      background-color: pink;
      height: 333px;
  }

  /* 为主体区域设置单独样式 */
  .text {
      height: 30000px;
  }

  /* 设置侧边栏的效果 */
.slider {
      width: 120px;
      height: 500px;
      background-color: yellow;
      /* 设置绝对定位，将侧边栏固定在页面上的右边区域 */
      position: absolute;
      /* 330像素正好将侧边栏与主体区域的顶部对齐 */
      top: 400px;
      left: 0;
  }

  /* 为返回顶部的span标签设置样式 */
.goBack {
      /* 让“返回顶部”文字显示在最下面 */
      position: absolute;
      bottom: 0;
      /* 将其先隐藏 */
      display: none;
  }